@{
    ViewData["Title"] = "Home Page";
}
<header>
    <!--  <script src="~/lib/angular/angular.min.js"></script>-->
    <h2 class="display-3">Добро пожаловать в миничат</h2>
</header>
<main>
    <label>
              Здесь вы можете обмениватся сообщениями и файлами .
               Подробнее о чате <a class="card-text" href="/Home/SetPage?id=@PageNames.GetPagePos("О чате")">здесь</a>
</label>
</main>
<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

-->
<!--<div ng-app="myApp" ng-controller="helContor">

    <input type="text" ng-model="textval" placeholder="text" />
    <label>Hellow: {{textval}} </label>




        <label  id="hel1">Hello: {{cesh}} </label>
        <script>
            var myApp = angular.module('myApp', []);

            myApp.controller('helContor', ['$scope', function ($scope) {
                $scope.cesh = 'angular';
            }
            ]);
        </script>

        <script>
            let w = setInterval(
                function () {

                    var date = new Date();
                    var d = String(date.getSeconds());


                }, 1000);

        </script>


</div>-->

