@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Наши достижения";
}
<header>
    <h2 class="display-3">Наши достижения</h2>
</header>
<main>
    <!--Отредактируй дизайн-->
   <div>
       Работая  над данным сайтом нам удалось добится возобмена сообщениями между позовател,
</div>
    <div>
        построить модельразмещения сообщений в памяти сервера с использованием синхронизации потков,

    </div>
    <div>
        наладить обмен файлами между сервером и клиентами ,
    </div>
    <div>
        настроить и использовать reactjs , использовать aspnetcore в качетве приложения сервера.
        <!--Далее добавишь чтонибудб от себя -->
    </div>
</main>