<header>
    <!--  <script src="~/lib/angular/angular.min.js"></script>-->
    <h2 class="display-3">О чате</h2>
</header>
<main>
    <label>
Данное веб приложение является миничатом,
пользователи которого могут обмениватся ссобщениями.
</label>
</main>