<header>
    <!--  <script src="~/lib/angular/angular.min.js"></script>-->
    <h2 class="display-3">О чате</h2>
</header>
<!--Отредактировать дизайн-->
<main>
    <div>
        <img src="~/img/messageexchange.jpg" style="align-content:flex-start" />
        <div>
            <h2>Обмен сообщениями</h2>
            <div>


                <label>
                    Данное веб приложение является миничатом,
                    пользователи которого могут обмениватся ссобщениями.
                </label>
            </div>
            <div>
                <label>
                    Также пользователи могут отправлять в чат сообщением до 3х
                    файлов,размером до 3мегобайт каждый.
                </label>
            </div>
        </div>
    </div>
    <div>
        <img src="~/img/database.png" />
        <div>
            <h2>Хранение данных</h2>
            <div>
                <label>Сообщения хранятся в оперативной памяти сервера , поэтому их количество ограничено .</label>
            </div>
            <div>
                <label>В случае переполнения более старые сообщения удаляются</label>
            </div>
            <div>
                <label >Аналогично хранятся и файлы. </label>
            </div>
            <div>
                <label>Файлы скачиваются в zip архиве, архив содержит файл файлы.txt в котором содержатся имена скачанных фалов.</label>
            </div>
            <div>
                <label>В случае , если пользователь запрашивает файл которого уже нет на сервере , в файле файлы.txt будет написано что файлы отсутствуют.</label>
            </div>
        </div>
    </div>
    <div>
        <img src="~/img/tools.png" />
        <div>
            <h2>Используемый компоненты(API)</h2>
            <div>
                <label>
                    Данный сайт использует различные компоненты(Языки программирования , фреймворки)
                </label>
            </div>
            <div>
                <label>
                    В качестве веб разметки используется HTML,CSS,JavaScript.
                    Также на стороне сервера используется 
                    <a src="https://learn.microsoft.com/ru-ru/aspnet/core/razor-pages/?view=aspnetcore-3.1&tabs=visual-studio">Razor pages</a>.
                </label>
            </div>
            <div>
                <label>В основе серверной части используется 
                <a src="https://learn.microsoft.com/ru-ru/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-3.1">aspnetcore</a>.
                </label>
            </div>
            <div>
                <label >
                    Также сайт использует фреймворк <a src="https://ru.reactjs.org/">
                    ReactJS
                    </a>и библиотеку <a src="https://getbootstrap.com/">Bootstrap</a>
                </label>
            </div>
        </div>
    </div>
</main>