<header>
    <h2 class="display-3">О разработчиках</h2>
</header>
<!--Отредактировать дизайн-->
<main>
    <div>
        <h3>Павлов Дмитрий Павлович</h3>
        <div>
            Занимался серверной частью сайта,
            сохранением даных на сервере , скачиванием с сервера и их синхронизацией.

        </div>
        <div>
            Работал с Razor Pages и настройкой ReactJS.
            Также занимался навигацией сайта.
        </div>
        <div>
            Использовал HTML,JS и c#(на стороне сервера).
            Работал с sessionStorage для сохранения данных клиента.
        </div>
    </div>
    <div>
        <!--Здесь напишешь о себе-->
    </div>
</main>