@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Отзывы";
}
<main>
    <div class="v94_618">
        <span class="v94_619">Отзывы</span>
        <div class="v94_620">
        <div class="v94_621">
            <div class="v94_622"></div>
            <div class="v94_623"></div>
        </div>
        </div>
        <div class="v94_624"></div>
        <div class="v94_625"></div>
        <div class="v94_626">
        <div class="v94_627"></div>
        <div class="v2911_294"></div>
        <div class="v94_629"></div>
        <div class="v94_630"></div>
        <span class="v94_631">01 / 14</span>
        <span class="v94_632">Marmok, известный ютубер</span>
        <div class="v94_633"></div>
        <span class="v94_634">Использование чата  от GameStudio вызвало только положительные впечатления!</span>
        </div>
    </div>
</main>